{% extends 'base.html' %}
{% block title  %}Contact
{% endblock title %}
{% block body %}
<div class="container-fluid mx-2 px-0" >
  <img src="https://source.unsplash.com/1050x250/?phone,contact" class="d-block w-100" alt="...">
<h1 class="text-center">Contact Us</h1>
</div>
<div class="container ">
<form method="post" action="/contact">
{% csrf_token %}

<div class="form-group">
    <label for="exampleFormControlInput1">Enter your Full Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="your name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Enter your Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="your email id">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1"> Phone number</label>
    <input type="phone" class="form-control" id="phone" name="phone" placeholder="your number">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1"> what you want to contact me for</label>
    <input type="text" class="form-control" id="desc" name="desc" placeholder="you can tell me here">
  </div>
 <button type="Submit" class="btn btn-primary" type="Submit">Submit</button>
 
</form>
</div>

{% endblock body %}